{% extends "base.html" %}

{% block log %}
<li ><a class=page href="/">Home </a></li>
<li ><a class=page href="/login">Login</a></li>
<li><a class=page href="/signup">Signup</a></li>
{% endblock %}

{%block container%}
<div class=container>
    {% block message %}
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
        {% for category, message in messages %} 
        {%  if category =='error'%}
        <h3 class=emsg>{{ message }}</h3>
        

        {%endif%}{% endfor %} {% endif %} {% endwith %}
    </div>
    {% endblock %}
    <h3 class=heading>{% block title %} Sign Up {% endblock %}</h3>
    
{%block content %}
<form method="POST">
    <label for="email">Email Id</label>
    <br>
    <input type="email" name="email" id="email" placeholder="enter your email id"/>
    <br>
    <label for="firstName">First Name</label>
    <br>
    <input type="text" name="firstName" id="firstName" placeholder="Enter your first name"/>
    <br>
    <label for="lastName">Last Name</label>
    <br>
    <input type="text" name="lastName" id="lastName" placeholder="Enter your last name"/>
    <br>

    <label for="passward1">Password</label>
    <br>
    <input type="password" name="password1" id="password1" />

    <br>
    <label for="passward2">Password(confirm)</label>
    <br>
    <input type="password" name="password2" id="password2" />
    <br>
    <button type="submit" class=btn>Signup</button>

</form>
{% endblock %}
</div>
{% endblock %}
